@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<hr />
<h2>Dependency Injection Lifetimes Demo</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Service Lifetime</th>
            <th>Operation ID (Guid)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Scoped</td>
            <td>@Model.ScopedId</td>
        </tr>
        <tr>
            <td>Singleton</td>
            <td>@Model.SingletonId</td>
        </tr>
        <tr>
            <td>Transient</td>
            <td>@Model.TransientId</td>
        </tr>
    </tbody>
</table>
